@use "../utils" as *;

.container {
  background-color: get-color("primary", 600);
  height: 100vh;
  overflow: hidden;
  @include mq("els", true, false) {
    background-color: red;
  }
  .left_part {
    height: 150vh;
    width: 40%;
    border-radius: 0px 50% 50% 0px;
    position: relative;
    top: -25%;
    background: get-color("primary", 100);
    display: flex;
    justify-content: center;
    align-items: center;
    &_inner_component {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      .app_icon {
        position: relative;
        width: 3rem;
        height: 3rem;
      }
      .sign_in_container {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
        h1 {
          color: white;
          font-size: 1.5rem;
          letter-spacing: 2px;
        }
        &_button_container {
          width: 70%;
          height: 40px;
          background-color: get-color("secondary", 100);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          transition-duration: 100ms;
          &:hover {
            background-color: darken(
              $color: get-color("secondary", 100),
              $amount: 5
            );
          }
          svg {
            width: 1rem;
            height: 1rem;
          }
          h2 {
            color: white;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  .right_part {
    width: 60%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .login_image {
      width: 12rem;
      height: 12rem;
    }
  }
}
