$constants: (
  header-height: 3rem,
  sidebar-width: 10%,
  card-width: auto,
  card-height: 40vh,
  sidebar-active-route-height: 15vh,
  sidebar-hover-route-height: 10vh,
  sidebar-route-height: 5vh,
);
