@mixin sideBar($background_image, $height) {
  background-image: url($background_image);
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 1rem 0rem 0.4rem 0.4rem;
  cursor: pointer;
  transition-duration: 200ms;
  filter: brightness(0.9);
}
