@use "./variables.scss" as *;
@use "./constants.scss" as *;

@function get-color($shades, $shade) {
  $color: map-get(
    $map:
      map-get(
        $map: $colors,
        $key: $shades,
      ),
    $key: $shade,
  );

  @return $color;
}

@function get-font-family($type) {
  $font-family: map-get(
    $map:
      map-get(
        $map: $fonts,
        $key: ff,
      ),
    $key: $type,
  );
  @return $font-family;
}

@function get-constant($constant) {
  @return map-get($map: $constants, $key: $constant);
}
